# Created by .ignore support plugin (hsz.mobi)
ftp_server_info.json
.idea/Pi-Wifi-Distance-Lights.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
server_info.json
__pycache__/
gitignore.txt
